@font-face {
    font-family: 'GolosText-Regular';
    src: url(../fonts/GolosText-Regular.ttf);   /* 400 */
}

@font-face {
    font-family: 'GolosText-SemiBold';
    src: url(../fonts/GolosText-SemiBold.ttf);   /* 600 */
}



